<!DOCTYPE html>

<html>
<head>
    <title>Blah!</title>
    <style type="text/css">
        .righty {
            float: right; 
        }
    </style>
</head>
<body>
    <div class="righty">
        This floats to the right
    </div
    <div>
        Hello @Model.Name
        The time is now: @DateTime.Now
    </div>
</body>
</html>