﻿<html xmlns="http://www.w3.org/TR/REC-html40">
<head>
<title>PURCHASE AGREEMENT</title>
</head>
<body style='tab-interval:.5in;font-size:10.0pt;'>
<p>&nbsp;</p>
<p align=center style='text-align:center'><b><span>AGREEMENT</span></b></p>
<p>&nbsp;</p>
<p><b><span style='letter-spacing:-.1pt'><span>                </span></span></b><span style='letter-spacing:-.1pt;'>This
Agreement is entered into on @Model.month @Model.day, @Model.year (the "Effective Date"), by
United Sugars Corporation, a Minnesota corporation with offices located at 7803 Glenroy Road, Suite 300, Bloomington,
 Minnesota ("Seller"), and
@Model.Customer<span>  </span>("Buyer"). </span></p>

<p><span style='letter-spacing:-.1pt;'>&nbsp;</span></p>

<p><span style='letter-spacing:-.1pt;'><span>                </span>In
consideration for the mutual promises and covenants set forth below, the
parties agree as follows:</span></p>

<p><span style='letter-spacing:-.1pt;'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><b><span
style='letter-spacing:-.1pt'>1.<span>          </span>SUGAR<span>  </span><span> </span></span></b><span style='letter-spacing:-.1pt;'>Seller shall sell and deliver
to Buyer and Buyer shall purchase and receive from Seller sugar of the types specified
in Paragraph 3 and in the quantities specified for each calendar quarter or
shorter period set forth in this Paragraph 1 (the "Quarterly Commitments").<span>  </span>The quantities stated are hundredweights ("cwt.")
on a dry basis.<span>  </span>Quarterly Commitments
are firm commitments by Buyer and shall not be construed as estimates, nor can
they be aggregated on an annual or any other basis.<span>  </span>Buyer may request additional quantities of
sugar during any calendar quarter.<span>
</span>Seller may, but is under no obligation to, agree to provide additional quantities
of sugar pursuant to such requests.<span>  </span></span></p>

<p style='margin-left:.5in;text-indent:-.5in'>&nbsp;</p>

<p style='margin-left:.5in;text-indent:-.5in'><span>                </span>Buyer
agrees that its Quarterly Commitment for each calendar term shall be as
follows:</p>

<p style='margin-left:.5in;text-indent:-.5in'>&nbsp;</span></p>

<table border=1 cellspacing=0 cellpadding=0
 style='margin-left:125.4pt;border-collapse:collapse;border:none;'>
 <tr>
  <td width=144 valign=top style='width:1.5in;border:solid windowtext 1.0pt;'>
  <p align=center style='text-align:center'><b><u><span style='font-size:10.0pt'>Quarter</span></u></b></p>
  </td>
  <td width=176 valign=top style='width:132.0pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b><u><span style='font-size:10.0pt'>Quantity
  of Sugar (cwt)</span></u></b></p>
  </td>
 </tr>

 @foreach (PdfCustomization.Models.QuarterlyCommitment qc in Model.Commitments)
 {
 <text>

 <tr>
  <td width=144 valign=top style='width:1.5in;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <span style='font-size:10.0pt'>@qc.Quarter</span>
  </td>
  <td width=176 valign=top style='width:132.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
  <span style='font-size:10.0pt'>@qc.QuantityOfSugar.ToString("##,#")</span>
  </td>
 </tr>

 </text>
 }
</table>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt;letter-spacing:-.1pt;'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><b><span
style='font-size:10.0pt;letter-spacing:-.1pt'>2.<span>          </span>TERM<span>  </span><span> </span></span></b><span style='font-size:10.0pt;
letter-spacing:-.1pt;'>The term of this Agreement
shall be @Model.effectiveDate through the last day of the last calendar quarter set
forth above.</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt;letter-spacing:-.1pt;'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><b><span
style='font-size:10.0pt;letter-spacing:-.1pt'>3.<span>          </span>PRICE<span>  </span><span> </span></span></b><span style='font-size:10.0pt;
letter-spacing:-.1pt;'>The parties agree that the
price for specific products will be as set forth in this Paragraph 3.<span>  </span>Seller’s pricing is on a delivered basis at
the point of use.<span>  </span>The prices stated are
in US dollars per hundredweight on a dry basis.</span><span style='font-size:
10.0pt'><span>  </span></span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<table border=1 cellspacing=0 cellpadding=0 width=608
 style='width:456.0pt;margin-left:53.4pt;border-collapse:collapse;border:none;'>
 <tr>
  <td width=134 valign=top style='width:1.4in;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;border:solid windowtext 1.0pt;'>
  <p><b><u><span
  style='font-size:10.0pt'>Delivery Location</span></u></b></p>
  </td>
  <td width=58 valign=top style='width:.6in;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;border:solid windowtext 1.0pt;
  border-left:none;'>
  <p align=center style='text-align:center'><b><u><span style='font-size:10.0pt'>State</span></u></b></p>
  </td>
  <td width=232 valign=top style='width:174.0pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;border:solid windowtext 1.0pt;
  border-left:none;'>
  <p><b><u><span
  style='font-size:10.0pt'>Package Size/Type</span></u></b></p>
  </td>
  <td width=48 valign=top style='width:.5in;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;border:solid windowtext 1.0pt;
  border-left:none;'>
  <p align=center style='text-align:center'><b><u><span style='font-size:10.0pt'>Mode</span></u></b></p>
  </td>
  <td width=56 valign=top style='width:42.0pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt;border:solid windowtext 1.0pt;
  border-left:none;'>
  <p align=center style='text-align:center'><b><u><span style='font-size:10.0pt'>Price</span></u></b></p>
  </td>
  <td width=80 valign=top style='width:60.0pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt;border:solid windowtext 1.0pt;
  border-left:none;'>
  <p align=center style='text-align:center'><b><u><span style='font-size:10.0pt'>Unit
  Price</span></u></b></p>
  </td>
 </tr>

 @foreach(PdfCustomization.Models.Price price in Model.Prices) {
 <text>

 <tr>
  <td width=134 valign=top style='width:1.4in;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;border:solid windowtext 1.0pt;border-top:
  none;'>
  <span style='font-size:10.0pt'>@price.DeliveryLocation</span>
  </td>
  <td width=58 valign=top style='width:.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;border-top: none;border-left:none;border-right:solid windowtext 1.0pt;'>
  <span style='font-size:10.0pt'>@price.State</span>
  </td>
  <td width=232 valign=top style='width:174.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;border-top: none;border-left:none;border-right:solid windowtext 1.0pt;'>
  <span style='font-size:10.0pt'>@price.PackageSizeAndType</span>
  </td>
  <td width=48 valign=top style='width:.5in;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;border-top: none;border-left:none;border-right:solid windowtext 1.0pt;'>
  <span style='font-size:10.0pt'>@price.Mode</span>
  </td>
  <td width=56 valign=top style='width:42.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;border-top: none;border-left:none;border-right:solid windowtext 1.0pt;'>
  <span style='font-size:10.0pt'>@price.TotalPrice.ToString("C")</span>
  </td>
  <td width=80 valign=top style='width:60.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;border-top: none;border-left:none;border-right:solid windowtext 1.0pt;'>
  <span style='font-size:10.0pt'>@price.UnitPrice.ToString("C")</span>
  </td>
 </tr>

</text>
}

</table>

<p style='margin-left:.5in'><span style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in'><span style='font-size:10.0pt'>Seller
reserves the right to determine origin of shipment for all releases placed
against this Agreement.<span>  </span>Seller reserves
the right, exercisable upon written notice to the buyer, to add fuel surcharges
to the prices specified in this Agreement.<span>
</span>Buyer will be responsible for additional charges for ordering product on
pallets; returning railcars that are not properly closed and sealed; demurrage
for days holding railcars in excess of allowed free days; and return freight
and reprocessing costs for any residual sugar.<span>
</span>Differentials on product sizes or grades other than those specified
above will be Seller’s differentials in effect on date of shipment.<span
style='color:red'></span></span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'><span>                </span></span></p>

<p style='margin-left:.5in;text-indent:-.5in'><b><span
style='font-size:10.0pt;letter-spacing:-.1pt'>4.<span>          </span>DELIVERY </span></b><span style='font-size:10.0pt;
letter-spacing:-.1pt;'><span>  </span>During each calendar quarter in which Buyer
has agreed to purchase sugar, Buyer will issue releases for a quantity of sugar
equal to the Quarterly Commitment for that calendar quarter, specifying
products, quantities, delivery locations, and requested date(s) of
shipment.<span>  </span>Buyer agrees to issue all such
releases in a commercially reasonable manner, rateable over the entire calendar
quarter, and acknowledges that the failure to issue releases in such a
commercially reasonable manner may delay the shipment of sugar beyond the end
of the calendar quarter. <span> </span>Buyer further agrees
that each release will be sent to and received by Seller a minimum of 3 days
before the requested date(s) of shipment in each such release and acknowledges
that a failure to issue any release within 3 days of the requested date(s) for
shipment may result in a delay in shipment.</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><b><span style='font-size:10.0pt'>5.<span>          </span>QUARTERLY DEFICIENCIES <span>  </span></span></b><span style='font-size:10.0pt'>In
the event that Buyer fails to issue <span style='letter-spacing:-.1pt;
'>releases for a quantity of sugar products equal to
the Quarterly Commitment for any calendar quarter</span> during the term of
this Agreement, the difference between the quantity of sugar products equal to
the Quarterly Commitment and the quantity of sugar products for which Buyer has
issued releases shall be deemed a Buyer’s Quarterly Deficiency.<span>  </span>Buyer shall pay a fee of $5 per cwt on any such
Quarterly Deficiency.<span>  </span>Seller may, at its sole discretion, either
cancel any such Buyer’s Quarterly Deficiency <u>or</u> carry over the Buyer’s Quarterly
Deficiency to any future calendar quarter.<span>
</span>The price for any sugar purchased in satisfaction of a Buyer’s Quarterly
Deficiency shall be the price for that product in the calendar quarter in which
the Buyer’s Quarterly Deficiency was created.<span>
</span>In the event that a Buyer’s Quarterly Deficiency not cancelled by Seller
exists during any calendar quarter of this Agreement, Buyer’s obligation to
purchase sugar products of a quantity equal to that Buyer’s Quarterly
Deficiency shall survive the term of this Agreement.</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<div style='page-break-inside: avoid;'><p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'><span>                </span>In
the event that Buyer has issued releases for a quantity of sugar products equal
to the Quarterly Commitment for any calendar quarter during the term of this
Agreement in a manner consistent with Paragraph 4 and Seller fails to deliver
that quantity of sugar consistent with the terms of this Agreement, the
difference between the quantity of sugar products equal to the Quarterly
Commitment and the quantity of sugar delivered by Seller shall be deemed a
Seller’s Quarterly Deficiency.<span>  </span>Buyer may,
at its sole discretion, cancel any such Seller’s Quarterly Deficiency <u>or</u>
carry over the Seller’s Quarterly Deficiency to any future calendar
quarter.<span>  </span>The price for any sugar
delivered in satisfaction of a Seller’s Quarterly Deficiency shall be the price
for that product in the calendar quarter in which the Seller’s Quarterly
Deficiency was created.<span>  </span>In the event
that a Seller’s Quarterly Deficiency not cancelled by Buyer exists during any
calendar quarter of this Agreement, Seller’s obligation to deliver sugar
products of a quantity equal to that Seller’s Quarterly Deficiency shall
survive the term of this Agreement.<span>  </span>The
terms of this entire Paragraph 5 are subject to and not in lieu of the force
majeure provisions in Paragraph 12.</span></p>
</div>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><b><span style='font-size:10.0pt'>6.<span>          </span>WEIGHTS</span></b><span
style='font-size:10.0pt'> <span>  </span>Certified net
weights at origin of shipment shall govern all transactions under this
Agreement.</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><b><span style='font-size:10.0pt'>7.<span>          </span>INSPECTION/ACCEPTANCE</span></b><span
style='font-size:10.0pt'><span>  </span><span> </span>Buyer shall inspect any sugar products
delivered under the terms of this Agreement and must, within 30 days after
delivery, notify Seller of any alleged adulteration, misbranding, or other
nonconformance in the sugar products.<span>
</span>Unless Buyer gives notice of adulteration, misbranding, or other
nonconformance within 30 days after delivery, the sugar products shall be
deemed to have been accepted by Buyer with full notice of any such adulteration,
misbranding, or other nonconformance.</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><b><span style='font-size:10.0pt'>8.<span>          </span>PAYMENT TERMS <span> </span><span> </span></span></b><span
style='font-size:10.0pt'>Payment terms are [2% 15, net 16] days from date of
delivery.<span>  </span>In the event that Seller is
required to bring any type of legal action against Buyer to recover amounts due
under the terms of this Agreement, Buyer agrees to reimburse Seller for all
costs, including attorney’s fees, reasonably incurred in connection with that
action.</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><b><span style='font-size:10.0pt'>9.<span>          </span>WARRANTY DISCLAIMER/LIMITATION OF
LIABILITY<span>  </span><span> </span></span></b><span style='font-size:10.0pt'>Seller
warrants that, at the time of receipt by Buyer, sugar products will not be
adulterated or misbranded within the meaning of the United States Food, Drug
and Cosmetic Act and any of the regulations thereunder.<span>  </span><b>SELLER
MAKES NO OTHER REPRESENTATION OR WARRANTY, WHETHER WRITTEN, ORAL, STATUTORY,
EXPRESS OR IMPLIED, CONCERNING THE SUGAR PRODUCTS, INCLUDING BUT NOT LIMITED TO
ANY WARRANTY OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.</b></span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><b><span style='font-size:10.0pt'>10.<span>       </span>LIMITATION OF LIABILITY AND DAMAGES</span></b><span
style='font-size:10.0pt'> <span> </span><span> </span><b>In no
event shall Seller be liable for any special, indirect, incidental, consequential
or punitive damages</b>, whether for breach of any warranty or for breach or
repudiation of any contractual term or legal duty, in contract, tort, or
otherwise, arising from, connected with, or relating to this agreement.<span>  </span>This limitation applies whether or not such
damages are foreseeable and whether or not Buyer has been advised of the
possibility of such damages, and includes, but is not limited to, loss of
profits or revenue, loss of goodwill, attorneys’ fees, damage to business or
business relationships, and the like, arising from, connected with, or relating
to Seller’s acts or omissions, whether under negligence, strict liability,
contract, warranty, or other theory of liability.<span>  </span>No action, regardless of form, arising out of
or alleging either a breach of any warranty or a breach of any contractual term
or legal duty may be brought more than one year after the cause of action
accrues.&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><b><span style='font-size:10.0pt'>11.<span>       </span>COMPLIANCE WITH LAWS</span></b><span
style='font-size:10.0pt'><span>  </span><span> </span>In performing their obligations under the
terms of this Agreement, Seller and Buyer will comply with all federal, state,
and local laws, rules, or regulations applying to the sale, purchase, or use of
sugar.<span>  </span>Buyer warrants that sugar
purchased under the terms of this Agreement is exempt from any sales tax and
agrees to provide Seller with sale-for-resale exemption certificate(s)
applicable to all such sugar upon Seller’s request. </span></p>

<p style='margin-left:.5in;text-indent:-.5in'><b><span style='font-size:10.0pt'>&nbsp;</span></b></p>

<p style='margin-left:.5in;text-indent:-.5in'><b><span style='font-size:10.0pt'>12.<span>       </span>FORCE MAJEURE</span></b><span
style='font-size:10.0pt'><span>  </span><span> </span>Neither party shall be in default hereunder by
reason of any failure or delay in the performance of any obligation under this
Agreement where such failure or delay arises out of any cause beyond the
reasonable control and without the fault or negligence of such party.<span>  </span>Such causes shall include, without
limitation, storms, floods, adverse weather or other acts of nature negatively
affecting sugar beet or sugar cane crops or sugar processing or refining
facilities, fires, explosions, riots, war or civil disturbance, strikes or
other labor<span>  </span>unrest, an inability to
obtain sugar, defaults of carriers, embargoes, governmental actions or
regulations including sugar allotments, quotas, or allocations, and any adverse
declaration or act by government agencies regarding the labeling, use or safety
of sugar that would prevent or prohibit a party from, in whole or in part,
ordering or furnishing sugar products or performing any other aspects of the
obligations hereunder.</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><b><span style='font-size:10.0pt'>13.<span>       </span>TERMINATION</span></b><span
style='font-size:10.0pt'><span>  </span><span> </span>Seller may terminate this Agreement
immediately upon written notice in the event that Buyer becomes insolvent or
bankrupt, is more than 10 days delinquent in payments to Seller, or refuses to
comply with Seller's reasonable request for financial information to assure
performance of its payment obligations.<span>
</span>Without limiting Seller’s rights to terminate under the previous
sentence, either party may terminate upon 30 days written notice of material
breach, provided the material breach remains uncorrected within such 30 days.</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><b><span style='font-size:10.0pt'>14.<span>       </span>ENTIRE AGREEMENT</span></b><span
style='font-size:10.0pt'><span>  </span><span> </span>This Agreement constitutes the entire
agreement between Seller and Buyer with respect to the Quarterly Commitments to
sell and purchase of sugar set forth in Paragraph 1 and supersedes all prior
discussions, representations, negotiations, warranties, course of dealing or
performance, and agreements, whether oral or written. <span> </span>All such previous agreements are hereby
canceled.</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'><span> </span><b>15.<span>      </span>MODIFICATION<span>  </span><span> </span></b>No
change, modification or amendment of this Agreement shall be binding upon the
parties unless the same shall be in writing and signed by or on behalf of the
parties hereto.<span>  </span>Buyer agrees that any
additional or inconsistent terms included in its prior or future purchase
orders, releases, or any confirming document shall not become part of or in any
way modify this Agreement and have no force and effect.</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><b><span style='font-size:10.0pt'>16.<span>       </span>WAIVER</span></b><span
style='font-size:10.0pt'><span>  </span><span> </span>No waiver of or failure or omission to enforce
any term or provision of this Agreement, or any right or claim arising
hereunder, shall be deemed to be a waiver of any other term or provision hereof
or any other right or claim.</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><b><span style='font-size:10.0pt'>17.<span>       </span>ASSIGNMENT</span></b><span
style='font-size:10.0pt'><span>  </span><span> </span>Neither party shall assign this Agreement
without the prior written consent of the other party.</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><b><span style='font-size:10.0pt'>18.<span>       </span>CONFIDENTIALITY</span></b><span
style='font-size:10.0pt'><span>  </span><span> </span>Except as required by law or compelled by
legal process, neither party shall, without the prior written consent of the
other party, disclose any of the material terms or conditions in this
Agreement, including but not limited to pricing terms.</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><b><span style='font-size:10.0pt'>19.<span>       </span>SEVERABILITY</span></b><span
style='font-size:10.0pt'><span>  </span><span> </span>To the extent possible, each provision of this
Agreement shall be interpreted in such a manner as to be effective and valid
under applicable law.<span>  </span>The determination
by any court of competent jurisdiction that one or more of the sections or
provisions of this Agreement are unenforceable shall not invalidate this
Agreement, and the decision of such court shall be given effect so as to limit
to the extent possible the sections or provisions of this Agreement which are
deemed unenforceable.</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><b><span style='font-size:10.0pt'>20.<span>       </span><span>NOTICE</span></span></b><span
style='font-size:10.0pt'><span>  </span><span> </span>All notices or consents required or permitted
to be given under this Agreement shall be in writing and deemed given and
received as of the date such notice or consent is sent via telefax, provided a
confirmation copy is also sent within two business days by first class mail, to
the party to whom the notice or consent is directed at its address as set forth
below or to such other address as may be designated by notice under this
provision:</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in;tab-stops:1.0in 2.5in'><span style='font-size:10.0pt'><span>                                </span>If to Seller:<span style="padding-left:119px;"></span>United Sugars Corporation</span></p>
<p style='margin-left:.5in;text-indent:-.5in;tab-stops:1.0in 2.5in'><span style='font-size:10.0pt'><span>                                                                              </span>7803 Glenroy, Suite 300</span></p>
<p style='margin-left:.5in;text-indent:-.5in;tab-stops:1.0in 2.5in'><span style='font-size:10.0pt'><span>                                                                              </span>Bloomington, MN<span>  </span>55439</span></p>
<p style='margin-left:.5in;text-indent:-.5in;tab-stops:1.0in 2.5in'><span style='font-size:10.0pt'><span>                                                                              </span><b>Attention:<span> </span>Mr. Dirk Swart</b></span></p>
<p style='margin-left:.5in;text-indent:-.5in;tab-stops:1.0in 2.5in'><span style='font-size:10.0pt'><span>                                                                              </span>Fax No. (952) 831-3217</span></p>
<p style='margin-left:.5in;text-indent:-.5in;tab-stops:1.0in 2.5in'><span style='font-size:10.0pt'><span>                                </span></span></p>
<p style='margin-left:.5in;text-indent:-.5in;tab-stops:1.0in 2.5in'><span style='font-size:10.0pt'><span>                                </span>If to Buyer:<span style="padding-left:119px;"></span>@Model.Customer</span></p>
<p style='margin-left:.5in;text-indent:-.5in;tab-stops:1.0in 2.5in'><span style='font-size:10.0pt'><span>                                                                              </span>@Model.Address</span></p>
<p style='margin-left:.5in;text-indent:-.5in;tab-stops:1.0in 2.5in'><span style='font-size:10.0pt'><span>                                                                              </span><b>Attention</b> @Model.Contact</span></p>
<p style='margin-left:.5in;text-indent:-.5in;tab-stops:1.0in 2.5in'><span style='font-size:10.0pt'><span>                                                                              </span>@Model.fax</span></p>
<p style='margin-left:.5in;text-indent:-.5in'><span style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><b><span style='font-size:10.0pt'>21.<span>       </span>CHOICE OF LAW AND VENUE</span></b><span
style='font-size:10.0pt'> <span>  </span>This
Agreement, and the transactions carried out pursuant to it, shall be governed
by and construed in accordance with the laws of the State of <st1:State w:st="on"><st1:place
 w:st="on">Minnesota</st1:place></st1:State> without regard to the application
of any choice-of-law rules.<span>  </span>Any action
brought by either party alleging a breach or repudiation of this Agreement or
any warranty provided under the terms of this Agreement, or seeking to construe
or enforce its terms must be brought in a Court of competent jurisdiction
within the State of Minnesota.</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><b><span style='font-size:10.0pt'>22.<span>       </span>COUNTERPARTS</span></b><span
style='font-size:10.0pt'><span>  </span><span> </span>This agreement may be executed simultaneously
in one or more counterparts, including by means of telefaxed signature pages,
each of which shall be deemed an original, but all of which together shall
constitute one and the same instrument.</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in;tab-stops:4.0in'><span
style='font-size:10.0pt'><span>                </span>United
Sugars Corporation<span>                                                                </span>@Model.Buyer</span></p>

<p style='margin-left:.5in;text-indent:-.5in;tab-stops:4.0in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in;tab-stops:4.0in'><span
style='font-size:10.0pt'><span>                </span>By:_______________________________<span>                                 </span>By:______________________________<span>   </span></span></p>

<p style='margin-left:.5in;text-indent:-.5in;tab-stops:4.0in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in;tab-stops:4.0in'><span
style='font-size:10.0pt'><span>                </span>Its
_______________________________<span>                                  </span>Its
_______________________________</span></p>

<p style='margin-left:.5in;text-indent:-.5in;tab-stops:4.0in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in;tab-stops:4.0in'><span
style='font-size:10.0pt'><span>                </span>Date:_____________________________<span>                                  </span>Date:_____________________________</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:10.0pt'>&nbsp;</span></p>

<p>&nbsp;</p>
</body>
</html>
